doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/editor/summernote.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src="/javascripts/jquery-3.0.0.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/editor/summernote.min.js")
    script(src="/editor/lang/summernote-zh-CN.min.js")
    block content
    
    
